*.py text working-tree-encoding=UTF-8 eol=lf
*.md text working-tree-encoding=UTF-8 eol=lf
*.yaml text working-tree-encoding=UTF-8 eol=lf
*.yml text working-tree-encoding=UTF-8 eol=lf
*.cpp text working-tree-encoding=UTF-8 eol=lf
*.h text working-tree-encoding=UTF-8 eol=lf
*.hpp text working-tree-encoding=UTF-8 eol=lf
*.bat text working-tree-encoding=UTF-8 eol=crlf
*.sh text working-tree-encoding=UTF-8 eol=lf
CMakeLists.txt text working-tree-encoding=UTF-8 eol=lf
.editorconfig text working-tree-encoding=UTF-8 eol=lf
.clangd text working-tree-encoding=UTF-8 eol=lf
.gitignore text working-tree-encoding=UTF-8 eol=lf
